<ion-content>
  <app-header></app-header>
  <p>Bienvenido, Profesor </p>
  <p>Tus Asignaturas:</p>

  <div class="asignaturas-container">
    <div class="asignatura">
      <h3>Programación</h3>
      <div class="notas">
        <ion-item>
          <ion-label position="floating">Nota 1</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 2</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 3</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 4</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 5</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 6</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 7</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 8</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 9</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 10</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
      </div>
    </div>

    <div class="asignatura">
      <h3>Estructuras de Datos</h3>
      <div class="notas">
        <ion-item>
          <ion-label position="floating">Nota 1</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 2</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 3</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 4</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 5</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 6</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 7</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 8</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 9</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nota 10</ion-label>
          <ion-input type="number" placeholder="Ingrese la nota"></ion-input>
        </ion-item>
      </div>
    </div>

    <!-- Agrega más asignaturas aquí siguiendo el mismo formato -->
  </div>

  <app-footer></app-footer>
</ion-content>
