<ion-content>
  <app-header></app-header>
  <p>Bienvenido, Profesor </p>
  <p>Tus Asignaturas:</p>

  <div class="asignaturas-container">
    <ion-button expand="block" color="primary" [routerLink]="['/store']">
      Programación
    </ion-button>

    <ion-button expand="block" color="secondary" disabled>
      Estructuras de Datos
    </ion-button>

    <!-- Puedes agregar más botones para otras asignaturas aquí -->

  </div>
  <div class="asignaturas-container">
    <ion-button expand="block" color="primary" disabled>
      Programación
    </ion-button>

    <ion-button expand="block" color="secondary" disabled>
      Estructuras de Datos
    </ion-button>

    <!-- Puedes agregar más botones para otras asignaturas aquí -->

  </div>



  <app-footer></app-footer>
</ion-content>
