<ion-content>
  <app-header></app-header>

  <p>
    <ion-button fill="clear" [routerLink]="['/contacto']">Volver a tus Asignaturas</ion-button>
  </p>

  <h2>Notas de la Asignatura</h2>
  <div class="notas-container">
    <ion-item>
      <ion-label position="floating">Nota 1</ion-label>
      <ion-note slot="end">7.5</ion-note> <!-- Nota fija -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nota 2</ion-label>
      <ion-note slot="end">8.0</ion-note> <!-- Nota fija -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nota 3</ion-label>
      <ion-note slot="end">9.0</ion-note> <!-- Nota fija -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nota 4</ion-label>
      <ion-note slot="end">6.5</ion-note> <!-- Nota fija -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nota 5</ion-label>
      <ion-note slot="end">8.5</ion-note> <!-- Nota fija -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nota 6</ion-label>
      <ion-note slot="end">7.0</ion-note> <!-- Nota fija -->
    </ion-item>
  </div>

  <app-footer></app-footer>
</ion-content>
