<ion-content>
  <app-header></app-header>
  <p>Alumno Bienvenido a ClassEdu: {{nombre}}</p>
  <p>Tus Asignaturas :</p>

  <div class="asignaturas-container">
    <ion-button expand="block" color="primary" [routerLink]="['/alumno']">
      Programación
    </ion-button>

    <ion-button expand="block" color="secondary" disabled>
      Estructuras de Datos
    </ion-button>

    <ion-button expand="block" color="tertiary" disabled>
      Bases de Datos
    </ion-button>

    <ion-button expand="block" color="success" disabled>
      Redes de Computadoras
    </ion-button>
  </div>

  <app-footer></app-footer>
</ion-content>
